body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.attacks, .attacks svg {
  position: absolute;
}

.attacks svg {
  width:50px;
  height:50px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.attacks circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}

html, body {
  height: 100%;
  background: #E6E6E6;
  margin: 0;
  font: 10px sans-serif;
}

svg {
  display: block;
}

circle {
  stroke: black;
  fill: brown;
  fill-opacity: .5;
}

